.container, .container-fluid{
	width: 1200px !important;
}
.navbar-brand img{
	max-height: 80px;
}
.carousel-inner .carousel-item img{
	max-height: 700px;
	object-fit: cover;
}
.icon i{
	font-size: 60px;
}
.card img{
	height: 350px;
	object-fit: cover;
}
/*.card-body p{
	text-align: justify;
}*/